body{
  margin:0;
  font-family:Arial;
  background:#fdf3d1;
}

.form-wrapper{
  width:90%;
  max-width:700px;
  margin:40px auto;
  background:white;
  border-radius:16px;
  box-shadow:0 8px 30px rgba(0,0,0,0.08);
  overflow:hidden;
}

.form-header{
  text-align:center;
  padding:40px 20px 25px;
}

.center-logo{
  width:70px;
}

.form-header h1{
  font-size:42px;
  margin:15px 0 10px;
}

.form-header p{
  color:#555;
}

form{
  padding:30px;
}

.row{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  margin-bottom:18px;
}

.row3{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:20px;
  margin-bottom:18px;
}

input{
  width:100%;
  padding:16px 14px;
  border:none;
  background:#eef2f7;
  border-radius:10px;
  font-size:15px;
  box-sizing: border-box;
  margin:0;
}

button{
  width:100%;
  padding:16px;
  border:none;
  background:#f4b400;
  border-radius:12px;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
}

.full-width {
  margin-bottom: 18px;
}

@media(max-width:768px){

  .row,.row3{
    grid-template-columns:1fr;
  }

  .form-header h1{
    font-size:32px;
  }

}

select {
  width: 100%;
  padding: 16px 14px;
  border: none;
  background: #eef2f7;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #22304a;
}

label span {
  color: red;
}